In [7]:
import pandas as pd
df_list = pd.read_html("https://www.macrotrends.net/stocks/charts/MCD/mcdonalds/gross-profit")
df_yearly = df_list[0]
df_quarterly = df_list[1]

df_yearly

,McDonald's Annual Gross Profit(Millions of US $),McDonald's Annual Gross Profit(Millions of US $).1
0,2018,"$10,786"
1,2017,"$10,621"
2,2016,"$10,205"
3,2015,"$9,789"
4,2014,"$10,456"
5,2013,"$10,903"
6,2012,"$10,816"
7,2011,"$10,687"
8,2010,"$9,637"
9,2009,"$8,792"
10,2008,"$8,639"
11,2007,"$7,905"
12,2006,"$6,932"
13,2005,"$6,177"

In [8]:
df_quarterly

,McDonald's Quarterly Gross Profit(Millions of US $),McDonald's Quarterly Gross Profit(Millions of US $).1
0,Q1 2019,"$2,536"
1,Q4 2018,"$2,697"
2,Q3 2018,"$2,822"
3,Q2 2018,"$2,740"
4,Q1 2018,"$2,528"
5,Q4 2017,"$2,666"
6,Q3 2017,"$2,818"
7,Q2 2017,"$2,708"
8,Q1 2017,"$2,429"
9,Q4 2016,"$2,558"
10,Q3 2016,"$2,747"
11,Q2 2016,"$2,586"
12,Q1 2016,"$2,314"
13,Q4 2015,"$2,507"
14,Q3 2015,"$2,591"
15,Q2 2015,"$2,490"
16,Q1 2015,"$2,201"
17,Q4 2014,"$2,474"
18,Q3 2014,"$2,681"
19,Q2 2014,"$2,784"
20,Q1 2014,"$2,516"
21,Q4 2013,"$2,743"
22,Q3 2013,"$2,911"
23,Q2 2013,"$2,765"
24,Q1 2013,"$2,484"
25,Q4 2012,"$2,728"
26,Q3 2012,"$2,855"
27,Q2 2012,"$2,716"
28,Q1 2012,"$2,518"
29,Q4 2011,"$2,714"
30,Q3 2011,"$2,907"
31,Q2 2011,"$2,726"
32,Q1 2011,"$2,341"
33,Q4 2010,"$2,474"
34,Q3 2010,"$2,607"
35,Q2 2010,"$2,396"
36,Q1 2010,"$2,160"
37,Q4 2009,"$2,353"
38,Q3 2009,"$2,408"
39,Q2 2009,"$2,170"
40,Q1 2009,"$1,860"
41,Q4 2008,"$2,076"
42,Q3 2008,"$2,363"
43,Q2 2008,"$2,225"
44,Q1 2008,"$1,975"
45,Q4 2007,"$2,061"
46,Q3 2007,"$2,121"
47,Q2 2007,"$2,000"
48,Q1 2007,"$1,724"
49,Q4 2006,"$1,801"
50,Q3 2006,"$1,875"
51,Q2 2006,"$1,739"
52,Q1 2006,"$1,518"
53,Q4 2005,"$1,628"
54,Q3 2005,"$1,681"
55,Q2 2005,"$1,579"
56,Q1 2005,"$1,437"